{:paths ["src"]
 :deps
 {thheller/shadow-cljs      {:mvn/version "3.1.7"}
  ;; org.clojure/clojure       {:mvn/version "1.11.3"}
  org.clojure/clojurescript {:mvn/version "1.12.42"}
  reagent/reagent           {:exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]
                             :mvn/version "1.3.0"}}

 :aliases
 {:dev
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}

  ;; :release
  ;; {:main-opts ["-m" "shadow.cljs.devtools.cli" "release" "app"]}
  }}

